<% if session[:user_jwt] && (session[:user_jwt]["value"]["authenticationType"] == "WebAuthn" or session[:user_jwt]["value"]["email"] == "foo123@test.com") %>
You're a VIP! Please show this to the nearest FusionAuth team member for a complimentary high five and/or early entry to the party.<br/></br>
  <img src='<%= asset_path('carpet.png')%>' width="200" />
<% else %>
  <% if session[:user_jwt] %>
    <a href='<%= Rails.configuration.x.oauth.idp_url%>/account/webauthn?client_id=<%=Rails.configuration.x.oauth.client_id%>'>Set up WebAuthn</a> to get VIP entrance to the party.
  <% end %>
<% end %>
